#container {
  height: 100dvh;
  width: 100%;
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: center;

  touch-action: none;

  img {
    content: url(./assets/sample-landscape.jpeg);
    @media (max-aspect-ratio: 1/1) {
      content: url(./assets/sample-portrait.jpeg);
    }

    height: 100%;

    transition: none;

    &.animate {
      transition: transform 200ms ease-out;
    }
  }
}
